ios/LiveDemo3.xcodeproj/xcuserdata/xia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ios/sdk_pkg_info.json
android/build/
android/app/build/
android/.idea/
android/android.iml
android/.gradle
android/app/app.iml