ios/LiveDemo3.xcodeproj/xcuserdata/xia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ios/libs/*.framework
ios/libs/*.txt
android/build/
android/app/build/
android/.idea/
android/android.iml
android/.gradle
android/app/app.iml